.bg-color-gray {
    background-color: $gray;
}

.primary-color {
    color: $primary;
}

.bg-color-purple {
    background-color: $purple;
}

.bg-color-pink {
    background-color: $pink;;
}

.bg-color-blue {
    background-color: $blue;
}

.bg-color-green {
    background-color: $green;
}

.bg-color-yellow {
    background-color: $yellow;
}

.bg-color-red {
    background-color: $red;
}