.bg-color-gray {
    background-color: $gray;
}

.bg-color-purple {
    background-color: $purple;
}

.bg-color-pink {
    background-color: $pink;;
}

.bg-color-blue {
    background-color: $blue;
}

.bg-color-green {
    background-color: $green;
}

.bg-color-yellow {
    background-color: $yellow;
}

.bg-color-red {
    background-color: $red;
}

.bg-color-bright-red {
    background-color: $bright-red;
}

.bg-color-pink {
    background-color: $pink;
}

.bg-color-light-pink {
    background-color: $light-pink;
}

.bg-color-light-blue {
    background-color: $light-blue;
}

.bg-color-yellow-sand {
    background-color: $yellow-sand;
}

.bg-color-light-purple {
    background-color: $light-purple;
}

.bg-color-light-red {
    background-color: $light-red;
}

.bg-color-light-navy-blue {
    background-color: $light-navy-blue;
}

.bg-color-light-green {
    background-color: $light-green;
}

.bg-color-dark-yellow {
    background-color: $dark-yellow;
}

.bg-color-dark-blue {
    background-color: $dark-blue;
}

.bg-color-bright-green {
    background-color: $bright-green;
}

.bg-color-baby-blue {
    background-color: $baby-blue;
}

.bg-color-pink {
    background-color: $pink;
}