body {
    background: url('../images/background.jpg') no-repeat ;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: $text-color;
    zoom: 1.1;
}

.card {
    border-radius: 5px;
}

// Ribbon
.ribbon-holder {
    overflow: hidden;
    position: relative;
}

.ribbon {
    position: absolute;
    background: #dc3545;
    color: white;
    transform: rotate(45deg);
    text-align: center;
    top: 28px;
    right: -32px;
    width: 150px;
    font-size: 17px;
}
