body {
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: $title-color;
}

/* Cards */
.card-title {
    font-size: 21px;
}

.card-footer-text {
    margin-top: 10px;
    font-style: italic;
    font-size: 12px;
}

/* Buttons */
.btn {
    font-size: 16px;
    font-weight: 500;
}

.button-link {
    box-shadow: 0px 0px 0px 0px rgba(59, 66, 162, 0.23);
    margin-bottom: 10px;
    pointer-events: all;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 15px 3px 15px;
    border-width: 2px;
    color: $white;
}

.button-link:hover {
    color: $white;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-secondary {
    border-radius: 10px;
    padding: 5px 10px 5px 10px
}

/* Lists */
.list li {
    line-height: 26px;
}

.list-item-number {
    margin-top: -4px;
    margin-left: 0px;
    font-size: 36px;
    line-height: 1em;
    font-weight: 700;
    color: #1e205a;
    margin-bottom: 0.01em;
}

.list-item-title {
    color: #fff;
    padding: 3px 12px 3px 12px;
    border-radius: 16px;
}
