// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #ff0097;
$secondary: #3b42a2;
$gray: #f9f9f9;
$blue: #5996ff;
$baby-blue: #57dfe4;
$light-blue: #12c4e2;
$light-navy-blue: #8194e8;
$dark-blue: #431cb9;
$indigo: #6574cd;
$purple: #9561e2;
$light-purple: #b098f7;
$pink: #ff0097;
$light-pink: #ff07ea;
$red: #dc3545;
$bright-red: #f00;
$light-red: #ef6d6d;
$orange: #f6993f;
$yellow: #d4b528;
$yellow-sand: #c4ce48;
$dark-yellow: #e28122;
$green: #53e24f;
$bright-green: #22e290;
$light-green: #64c714;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
$title-color: #1e205a;
$text-color: #494f56;