// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #ff0097;
$gray: #f9f9f9;
$blue: #5996ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #ff0097;
$red: #dc3545;
$orange: #f6993f;
$yellow: #d4b528;
$green: #53e24f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
$title-color: #1e205a;